@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
h1 {
  color: red;
}
.AllighingText {
  text-align: center;
}
.imageRotate {
  rotate: -10deg;
}
.donorRegistr {
  text-align: center;
}
.post {
  font-size: 12px;
  font-weight: bold;
}
